* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body {
    position: relative;
}
.wrapper {
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 60px;
}

.wrapper--container{
    color: #fff;
    font-size: 60px;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}